<header class="header">
    <div class="header__container container">
        <nav class="header__nav">
            <div class="header__avatar">
                <img src="images/yan_head.jpg" alt="avatar" class="header__avatar-img">
            </div>
            <button class="header__burger" type="button" aria-label="menu open" id="open-menu">
                <span></span><span></span><span></span>
            </button>

            <ul class="header__list">
                <li class="header__list-item"><a href="#" class="header__list-link">Биография</a></li>
                <li class="header__list-item"><a href="#" class="header__list-link">Творчество</a></li>
                <li class="header__list-item"><a href="#" class="header__list-link">Слово о кемеле</a></li>
                <li class="header__list-item"><a href="#" class="header__list-link">Галлерея</a></li>
            </ul>

            <div class="header__lang">
                <button class="header__lang-btn" type="button">KZ</button>
                <button class="header__lang-btn active" type="button">RU</button>
            </div>
        </nav>
    </div>
</header>