<header class="header">
    <div class="header__container container">
        <nav class="header__nav">
            <a class="header__logo-link">
                <img src="#" alt="логотип" class="header__logo-img">
            </a>
            <ul class="header__list">
                <li class="header__list-item"><a href="#" class="header__list-link"></a></li>
                <li class="header__list-item"><a href="#" class="header__list-link"></a></li>
                <li class="header__list-item"><a href="#" class="header__list-link"></a></li>
                <li class="header__list-item"><a href="#" class="header__list-link"></a></li>
                <li class="header__list-item"><a href="#" class="header__list-link"></a></li>
                <li class="header__list-item"><a href="#" class="header__list-link"></a></li>
                <li class="header__list-item"><a href="#" class="header__list-link"></a></li>
                <li class="header__list-item"><a href="#" class="header__list-link"></a></li>
            </ul>
            <a href="tel:1111111" class="header__tel"></a>
            <button class="header__button" type="button"
                aria-label="Кнопка открывает модальное окно для входа в личный кабинет">
            </button>
        </nav>
    </div>
</header>
<section class="promo">
    <div class="promo__container container">

        <div class="swiper">

            <div class="swiper-wrapper">
                <div class="swiper-slide " data-background-img="img/bg.jpg">
                    <h1 class="promo__title">

                    </h1>
                    <p class="promo__text">

                    </p>
                    <a href="#" class="promo__link">

                    </a>

                </div>
                <div class="swiper-slide">
                    <h1 class="promo__title">

                    </h1>
                    <p class="promo__text">

                    </p>
                    <a href="#" class="promo__link">

                    </a>
                </div>
                <div class="swiper-slide">
                    <h1 class="promo__title">

                    </h1>
                    <p class="promo__text">

                    </p>
                    <a href="#" class="promo__link">

                    </a>
                </div>

            </div>


            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>
    </div>
</section>

<address>

</address>
<legend>

</legend>
<label for="3">
    <div>
        <svg>

        </svg>
    </div>
    <p>Написать в Whats’app/Telegram</p>
</label>
<input type="radio" id="3" hidden>

<html id="id">

</html>